spring:
    application:
        name: backend
    datasource:
        url: jdbc:h2:mem:tasks
        driver-class-name: org.h2.Driver
        username: sa
        password:

    h2:
        console:
            enabled: true
