spring:
    application:
        name: backend
    datasource:
        url: jdbc:h2:mem:listings
        driver-class-name: org.h2.Driver
        username: sa
        password:

    h2:
        console:
            enabled: true
            path: /h2

    jpa:
        defer-datasource-initialization: true
    sql:
        init:
            mode: always
